*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body{
height: 100%;
width: 100%;
}

main{
      height: 100%;
      width: 100%;
      background: linear-gradient(to right bottom , rgb(40, 35, 35) , rgb(0, 0, 0));
      padding: 20px;
      color: white;
}

section{
    height: 100%;
    width: 430px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
     overflow: auto;
     scroll-snap-type: y mandatory;
     scroll-behavior: auto;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reels{
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reels video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.reels .bottom{
    padding: 10px 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(rgba(96, 96, 96, 0) , rgba(46, 45, 45, 0.606));
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.bottom .user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user button{
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.bottom> h3{
    font-weight: 500;
    font-size: 25px;
}

.right{
    width: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    right: 0;
    bottom: 20%;
    padding: 33px;
}

.right i{
    font-size: 28px;
    cursor: pointer;
    font-weight: 500;
}

.right h6{
    font-size: 14px;
    font-weight: 500;
}

.right .icons{
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.right .like .red{
    color: red;
}